version: '3.8'
services:
  app-server:
    container_name: express-practice
    restart: always
    build: .
    env_file:
      - ./.env
    ports:
      - "8000:3000"
    volumes:
      - ./:/app
  redis:
    container_name: app-redis
    image: "redis:alpine"
    command: redis-server --appendonly yes --port 6378
    ports:
      - '6378:6379'
    restart: always
  postgres:
    container_name: app-postgres
    image: postgres:14.9
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    restart: always
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
    ports:
      - "5050:80"
    restart: always
